endpoints:
  manjaro-xfce-current:
    path: /manjaro-squash/releases/download/REPLACE_RELEASE_NAME/
    files:
    - livefs.sfs
    - rootfs.sfs
    - mhwdfs.sfs
    - desktopfs.sfs
    - initrd
    - vmlinuz
    os: "manjaro"
    version: "REPLACE_VERSION"
    flavor: "xfce"
    kernel: "manjaro-xfce-current"
