endpoints:
  manjaro-kde-current:
    path: /manjaro-squash/releases/download/REPLACE_RELEASE_NAME/
    files:
    - livefs.sfs
    - rootfs.sfs
    - mhwdfs.sfs
    - desktopfs.sfs
    - initrd
    - vmlinuz
    os: "manjaro"
    version: "current"
    flavor: "kde"
    kernel: "manjaro-kde-current"
